// AD--------------------------------------------------------------------------------
.ad {
  height: 54px;
  background-image: url("../../public/images/ad.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
