.wrapper {
  margin-top: 1rem;
  .header {
    height: auto;
    background: $yellow-color;
    font-size: 23px;
    padding: 1rem 10px;
    color: $white-color;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 5px;
    svg{
      &:hover{
        cursor: pointer;
        fill: $purple-color;
      }
    }
  }
  .product {
    &__img {
      height: 380px;
      img {
        margin:0 auto;
        height: 100%;
        width: auto;
       object-fit: fill;
      }
    }
    &__infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2px;
      h1 {
        font-size: 16px;
        font-weight: 600;
        color: #222;
      }
      span {
        color: $purple-color;
        font-weight: 500;
      }
    }
  }
}
